@page
@model Presentation.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}
@if (ViewData["Message"] != null)
{
    <h3 style="color:red">@ViewData["Message"]</h3>
}
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div>
    <form method="post">
        <div class="form-group" style="display:flex">
        <select asp-for="groupId" class="form-control">
            <option value="1">Group001</option>
            <option value="2">Group002</option>
            <option value="3">Group003</option>
        </select>
            <label asp-for="minBirthday" class="control-label"></label>
            <input asp-for="minBirthday" class="form-control" />
            <label asp-for="maxBirthday" class="control-label"></label>
            <input asp-for="maxBirthday" class="form-control" />
        <button type="submit">Search</button>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
